<section id="education">
  <h2>Education</h2>
  <div class="education-item">
    <h3>B.E. - Computer Science and Engineering</h3>
    <p class="institution">Sathyabama Institute of Science and Technology</p>
    <p class="duration">03/2019 - 03/2023</p>
    <p class="percentage">84%</p>
  </div>
  <div class="education-item">
    <h3>12th CBSE - PCM and Computer Science</h3>
    <p class="institution">Alwin Memorial Public School</p>
    <p class="duration">03/2018 - 03/2019</p>
    <p class="percentage">79%</p>
  </div>
  <div class="education-item">
    <h3>10th CBSE</h3>
    <p class="institution">Alwin Memorial Public School</p>
    <p class="duration">03/2016 - 03/2017</p>
    <p class="percentage">85%</p>
  </div>
</section>
