section#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  text-align: center;

  .avatar {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  .description {
    max-width: 600px;
  }

  h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;

    li {
      font-size: 14px;
      color: #555;
      margin-bottom: 5px;
    }
  }

  a {
    color: #555;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .languages {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;

    li {
      font-size: 16px;
      color: #555;
      margin-bottom: 5px;

      &.language {
        font-weight: bold;
      }

      .proficiency {
        margin-left: 10px;
        color: #777;
      }
    }
  }
}

.slideshow {
  text-align: center;
  position: relative;
  width: 1904px;
  height: 150px;
  background-color: #00b7ff;

  .slide {
    display: none;
    position: relative;

    &.active {
      display: block;
    }
  }

  .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #f0f0f0;
    transition: width 0.3s ease;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;

    &.back {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }
}
