<section id="projects">
  <h2>Personal Projects</h2>
  <div class="project-list">
    <div class="project">
      <h3>Turtle-Multiplayer-Game (02/2022 - 02/2022)</h3>
      <p>Project available on GitHub, based on Tinker and python</p>
    </div>
    <div class="project">
      <h3>WEB-based-Multiplayer-snake-game (03/2022 - 04/2022)</h3>
      <p>Project available on GitHub, done under HCL Internship.</p>
    </div>
    <div class="project">
      <h3>Grand Theft Auto V(GTA-V) Roleplay Server (11/2021 - 02/2023)</h3>
      <p>
        Worked on Network design, HTML pages, CSS, JavaScript. Worked on C#
        language, DLC packages, Database Handling
      </p>
    </div>
    <!-- Add more project divs as needed -->
  </div>
</section>
