<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<section id="skills">
  <div class="programming-skills">
    <div class="card">
      <div class="header">My Programming Skills</div>
      <div class="body">
        <div class="progskill" *ngFor="let skill of programmingSkills">
          <div class="progskill-name">{{ skill.name }}</div>
          <div class="progskill-level">
            <div class="progskill-percent" [style.width]="skill.level"></div>
          </div>
          <div class="progskill-percent-number">{{ skill.level }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="skilled-in">
    <h2>Skilled In</h2>
    <div class="skills-container">
      <div
        class="skill"
        *ngFor="let skill of skills"
        (click)="showSkillDetails(skill.name)"
      >
        <i [class]="skill.icon"></i>
        <span>{{ skill.name }}</span>
      </div>
    </div>

    <div *ngIf="selectedSkill" class="skill-details">
      <div class="close" (click)="closeSkillDetails()">
        <i class="fas fa-times"></i>
      </div>
      <h4>{{ selectedSkill }}</h4>
      <p>{{ skillDetails[selectedSkill] }}</p>
    </div>
  </div>
</section>
